* {
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
    height: 100vh;
    background-color: #000;
}

@font-face {
    font-family: pl;
    src: url(Poppins-Light.ttf);
}

@font-face {
    font-family: psb;
    src: url(Poppins-SemiBold.ttf);
}

@font-face {
    font-family: pr;
    src: url(Poppins-Regular.ttf);
}

@font-face {
    font-family: pt;
    src: url(Poppins-Thin.ttf);
}

.topnav {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000;
    overflow: hidden;
}

.topnav a {
    font-family: pr;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 40px;
    text-decoration: none;
    font-size: 1.7rem;
    transition: 0.35s all ease-in-out;
    z-index: 1;
}

.topnav a:hover {
    color: rgb(88, 88, 88);
}

.path {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    overflow-x: hidden;
}

.dashed {
    stroke-dasharray: 10;

}

svg path {
    stroke-dasharray: 500;
    animation: dash 4s linear infinite;
    background-size: contain;
}

@keyframes dash {
    from {
        stroke-dashoffset: 1000;
    }

    to {
        stroke-dashoffset: 0;
    }
}

.txt-1 {
    font-family: psb;
    font-size: 8rem;
    font-style: normal;
    font-weight: 600;
    color: #fff;
    margin-top: 4rem;
    padding-left: 9rem;
}

.d {
    overflow-x: hidden;
    padding: 10px 100px;
}

.d-1 {
    display: inline-block;
    width: 20rem;
    height: 20rem;
    background-color: #fff;
    border-radius: 8px;
    margin: 40px;
    font-family: pl;
    font-weight: 200;
    color: #000;
    text-align: center;
    font-size: 1.5rem;
    transition: 0.2s all ease-in-out;
}

.d-1:hover {
    background-color: rgb(88, 88, 88);
    color: #fff;
}

.d-2 {
    display: inline-block;
    width: 20rem;
    height: 20rem;
    background-color: #fff;
    border-radius: 8px;
    margin: 40px;
    font-family: pl;
    font-weight: 200;
    color: #000;
    text-align: center;
    font-size: 1.5rem;
    transition: 0.2s all ease-in-out;
}

.d-2:hover {
    background-color: rgb(88, 88, 88);
    color: #fff;
}

.d-3 {
    display: inline-block;
    width: 20rem;
    height: 20rem;
    background-color: #fff;
    border-radius: 8px;
    margin: 40px;
    font-family: pl;
    font-weight: 200;
    color: #000;
    text-align: center;
    font-size: 1.5rem;
    transition: 0.2s all ease-in-out;
}

.d-3:hover {
    background-color: rgb(88, 88, 88);
    color: #fff;
}

.d-4 {
    display: inline-block;
    width: 20rem;
    height: 20rem;
    background-color: #fff;
    border-radius: 8px;
    margin: 40px;
    font-family: pl;
    font-weight: 200;
    color: #000;
    text-align: center;
    font-size: 1.5rem;
    transition: 0.2s all ease-in-out;
}

.d-4:hover {
    background-color: rgb(88, 88, 88);
    color: #fff;
}

.txt-2 {
    font-family: psb;
    font-size: 8rem;
    font-style: normal;
    font-weight: 600;
    color: #fff;
    margin-top: 4rem;
    padding-left: 9rem;
}

.s {
    overflow-x: hidden;
    padding: 10px 100px;
}

.s-1 {
    display: inline-block;
    width: 15rem;
    height: 3.5rem;
    background-color: #fff;
    border-radius: 8px;
    margin: 40px;
    font-family: pl;
    font-weight: 200;
    color: #000;
    text-align: center;
    font-size: 0.75rem;
    transition: 0.2s all ease-in-out;
}

.s-1:hover {
    color: rgb(77, 77, 77);
}

.s-2 {
    display: inline-block;
    width: 15rem;
    height: 3.5rem;
    background-color: #fff;
    border-radius: 8px;
    margin: 40px;
    font-family: pl;
    font-weight: 200;
    color: #000;
    text-align: center;
    font-size: 0.75rem;
    transition: 0.2s all ease-in-out;
}

.s-2:hover {
    color: rgb(77, 77, 77);
}

.s-3 {
    display: inline-block;
    width: 15rem;
    height: 3.5rem;
    background-color: #fff;
    border-radius: 8px;
    margin: 40px;
    font-family: pl;
    font-weight: 200;
    color: #000;
    text-align: center;
    font-size: 0.75rem;
    transition: 0.2s all ease-in-out;
}

.s-3:hover {
    color: rgb(77, 77, 77);
}

/*The former usually matches common screen sizes (480px, 768px, 1024px, and 1280px)*/
@media only screen and (max-width: 1280px) {
    .txt-1 {
        padding-left: 0;
        text-align: center;
    }

    .txt-2 {
        padding-left: 0;
        text-align: center;
    }

    .d {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .s {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media only screen and (max-width: 1024px) {
    .s {
        display: inline-flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .path {
        width: 0;
        height: 0;
    }
}

@media only screen and (max-width: 768px) {
    .txt-1 {
        padding-left: 0;
        text-align: center;
    }

    .path {
        width: 0;
        height: 0;
    }

    .txt-2 {
        padding-left: 0;
        text-align: center;
    }
    .d {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
.links{
    color: #000;
    text-decoration: none;
}
    .s-1 {
        width: 18rem;
    }

    .s-2 {
        width: 18rem;
    }

    .s-3 {
        width: 18rem;
    }
}
